.container {
  width: 100%;
  justify-content: center;
  display: flex;

  &-produto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
}

.detalhes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  &-compra {
    width: 60%;
    max-height: 500px;
    overflow-y: auto;
  }
  &-imagem {
    width: 40%;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    img {
      width: 100%;
    }
  }
}



.carousel-container {
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}

button {
  background-color: transparent;

  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.infos-produto-detalhes {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.produtos-similares-titulo {
  padding-left: 10px;
}

.titulo-produto{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: rgba(68, 68, 68, 0.8509803922);
}


.preco{
  font-size: 2rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.8509803922);
  margin-top: 1rem;
  margin-left: 1rem;
}


.btn-quantidades{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #7b9d87;
  width: 2rem;
  height: 2rem;
  color: rgba(68, 68, 68, 0.8509803922);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font-size: 2rem;
}


.btn-quantidades:hover{
  background-color: #698472;
  color: rgb(223, 223, 223);
}

.input-quantidade{
  width: 2rem;
  height: 100%;
  text-align: center;
}

.btn-carrinho{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #7b9d87;
  color: rgba(68, 68, 68, 0.8509803922);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font-size: 1rem;
  height: 3rem;
  width: 100%;
}

.btn-carrinho:hover{
  background-color: #698472;
  color: rgb(223, 223, 223);
}



p{
  color: #9093a7;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.card-produto{
 height: 12em;
 background-color: white;
 border-radius: 10px;
  padding: 1.5rem;


  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

 .nome-produto {
  font-size: 1rem;
  color: #444444d9;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 12rem;
   margin: 0;
}


.preco-produto{
  font-size: 1rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.8509803922);
}
}


.semelhantes{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-color: #888 #f0f0f0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.container-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.semelhantes:hover {
  scrollbar-width: thin;
}

:hover::-webkit-scrollbar {
  display: block;
  height: 8px;
}

:hover::-webkit-scrollbar {
  opacity: 0;
  transition: opacity 1s ease;
}

:hover::-webkit-scrollbar {
  opacity: 1;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

:hover::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
