.star-rating {
    font-size: 2em;
    color: #ffc107;
  }

  .tooltip-inner {
    background-color: #ff6347; /* Exemplo: cor de fundo */
    color: #fff; /* Exemplo: cor do texto */
    font-size: 1.2em; /* Exemplo: tamanho da fonte */
  }
  
  .tooltip-arrow {
    border-top-color: #ff6347; /* Exemplo: cor da seta */
  } 
   