.star-rating {
    font-size: 1em;
    color: #ffc107;
  }

  .tooltip-inner {
    background-color: #ff6347;
    color: #fff;
    font-size: 1.2em;
  }
  .tooltip-arrow {
    border-top-color: #ff6347;
  }
