.descricao {
  background: white;
  margin-top: 3rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  &-titulo {
    padding: 1rem;
    background-color: #7b9d87;
    font-size: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p {
      margin: 0;
    }
  }

  &-menssagem {
    padding: 1rem;
  }
}
