.container-card {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  display: grid;
}

.mae {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.filho{
  display: grid;
  width: 80%;
  justify-content: center;
}

.container {
  width: 100%;
  display: grid;
  justify-content: center;
}
