.card-produto {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  max-width: 15rem;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  img {
    width: 8rem;
  }

  p{
    margin: 0;
  }

  .nome-produto {
    font-size: 1rem;
    color: #444444d9;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 12rem;
  }

  .card-rodape {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .container-preco {
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  @media (max-width: 600px) {
    .container-preco {
      display: block;
    }
  }
}


.row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-imagem {
  min-height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.preco {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #444444d9;
}


.custom-modal {
  max-width: 800px !important;
  width: 80% !important;
  height: auto !important;
  margin: auto;

}


::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 1000px !important;
  min-width: var(--mat-dialog-container-min-width, 0);
}


.btn-detalhes{
  border: none;
  border-radius: 5px;
  background-color: #7b9d87;
  width: 3rem;
  height: 2rem;
  color: rgba(68, 68, 68, 0.8509803922);
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}


.btn-detalhes:hover{
  background-color: #698472;
  color: rgb(223, 223, 223);
}
