<div #cardProduto class="card-produto">
  <div class="row">
      <p class="nome-produto">{{produto.title}}</p>
  </div>

  <div class="row container-imagem">
      <img [src]="produto.image" alt="Imagem-produto">
  </div>

  <div [ngStyle]="{ display: width > 200 ? 'flex' : 'initial' }" #containerAvaliacao class="container-avaliacao">
        <app-avaliacao [avaliacao]="produto.rating.rate" [quantidade]="produto.rating.count"></app-avaliacao>
    <h2 class="preco">{{formatarMoeda(produto.price)}}</h2>
  </div>
</div>
