<div #cardProduto class="card-produto">
  <div class="row container-imagem">
      <img [src]="produto.image" alt="Imagem-produto">
  </div>
  <div class="row">
      <p class="nome-produto">{{produto.title}}</p>
      <app-avaliacao [avaliacao]="produto.rating.rate" [quantidade]="produto.rating.count"></app-avaliacao>
  </div>

  <div  #containerAvaliacao class="container-preco">
    <h2 class="preco">{{formatarMoeda(produto.price)}}</h2>

    <button class="btn-detalhes" (click)="abriModalDetalhes()"><i class="fa fa-eye"></i></button>
  </div>
</div>
